<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCfrkiVxg1CHk8FwdMIOP8dWcWa4BMR7YQ</string>
	<key>GCM_SENDER_ID</key>
	<string>986130107097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.frankois944.kmp.smp4kmp.example</string>
	<key>PROJECT_ID</key>
	<string>fir-kmpdemo-6cde4</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-kmpdemo-6cde4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:986130107097:ios:bc74692aa1cda1762fccc8</string>
</dict>
</plist>
