*.iml
.DS_Store
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
build
plugin-build/plugin/src/functionalTest/resources/LocalDummyFramework/.build
.kotlin
example/iosApp/iosApp.xcodeproj/project.xcworkspace/xcuserdata
example/iosApp/iosApp.xcodeproj/xcuserdata
example/iosApp/spm
plugin-build/plugin/src/functionalTest/resources/LocalSourceDummyFramework/.build
example/iosApp/iosApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
example/exportedNativeShared/.swiftpm/xcode/xcuserdata
example/exportedNativeIosShared/.swiftpm/xcode/xcuserdata
BinaryPackageSource/DummyFramework.xcodeproj/project.xcworkspace/xcuserdata
BinaryPackageSource/DummyFramework.xcodeproj/xcuserdata
BinaryPackageSource/archives
.scannerwork
website/site
website/.cache
example/SPM
secret-key.gpg
.cache
website
