name: Build and Tests

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - 'website/**'
      - 'BinaryPackageSource/**'
      - '.idea/**'
  pull_request:
    branches:
      - '*'
    paths-ignore:
      - 'README.md'
      - 'website/**'
      - 'BinaryPackageSource/**'
      - '.idea/**'

concurrency:
  # Use a unique identifier for the workflow cancellation group.
  # Most commonly, the branch name or pull request reference.
  group: ${{ github.ref }} # Cancels workflows for the same branch or PR
  cancel-in-progress: true # Automatically cancels in-progress workflows

jobs:
  gradle:
    strategy:
      matrix:
        os: [ macos-latest ]
    runs-on: ${{ matrix.os }}
    env:
      GRADLE_PUBLISH_KEY: ${{ secrets.GRADLE_PUBLISH_KEY }}
      GRADLE_PUBLISH_SECRET: ${{ secrets.GRADLE_PUBLISH_SECRET }}
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    if: ${{ !contains(github.event.head_commit.message, 'ci skip') }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'jetbrains'
          java-version: '17'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Cache Konan
        id: cache-konan
        uses: actions/cache@v4
        with:
          path: ~/.konan
          key: ${{ runner.os }}-konan
      - name: Cache example
        id: cache-example-scratch
        uses: actions/cache@v4
        with:
          path: |
            example/build/spmKmpPlugin
            example/iosApp/spm
            example/iosApp/build
            example/SPM
          key: ${{ runner.os }}-example-scratch
      - name: Cache Gradle Caches
        uses: gradle/actions/setup-gradle@v4
      - name: Linter
        run: ./gradlew :plugin-build:plugin:ktlintCheck :plugin-build:plugin:detektMain --continue
      - name: Run Gradle tasks
        run: ./gradlew :preMerge :plugin-build:plugin:jacocoTestReport --continue
      - name: build iosExampleApp
        run: xcodebuild -project iosApp.xcodeproj -scheme iosApp -configuration Debug -destination 'generic/platform=iOS Simulator' ARCHS=arm64 -derivedDataPath "./build" -clonedSourcePackagesDirPath "./spm" build
        working-directory: "example/iosApp"
      - name: Archive test results
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: test-pre-merge-report
          path: plugin-build/plugin/build/reports/
      - name: Publish Test Report
        uses: test-summary/action@v2
        if: ${{ !cancelled() }}
        with:
          paths: '**/build/test-results/**/TEST-*.xml'
          show: 'all'
      - name: SonarQubeScan
        uses: SonarSource/sonarqube-scan-action@v4.2.1
        with:
          args: >
            -Dsonar.organization=frankois944
            -Dsonar.projectKey=frankois944_spm4Kmp
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
