name: Build and Tests

permissions:
  checks: write
  pull-requests: write

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - 'website/**'
      - 'BinaryPackageSource/**'
      - '.idea/**'
      - 'docs/**'
  pull_request:
    branches:
      - '*'
    paths-ignore:
      - 'README.md'
      - 'website/**'
      - 'BinaryPackageSource/**'
      - '.idea/**'
      - 'docs/**'

concurrency:
  # Use a unique identifier for the workflow cancellation group.
  # Most commonly, the branch name or pull request reference.
  group: ${{ github.ref }} # Cancels workflows for the same branch or PR
  cancel-in-progress: true # Automatically cancels in-progress workflows

jobs:
  gradle:
    runs-on: macos-latest
    env:
      GRADLE_PUBLISH_KEY: ${{ secrets.GRADLE_PUBLISH_KEY }}
      GRADLE_PUBLISH_SECRET: ${{ secrets.GRADLE_PUBLISH_SECRET }}
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      GITEA_TOKEN: ${{ secrets.GITEA_TOKEN }}
      IS_GITHUB_ACTION: true
    if: ${{ !contains(github.event.head_commit.message, 'ci skip') }}
    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '16.4'
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'jetbrains'
          java-version: '21'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Cache Konan
        id: cache-konan
        uses: actions/cache@v4
        with:
          path: ~/.konan
          key: ${{ runner.os }}-konan
      - name: Cache example
        id: cache-example-scratch
        uses: actions/cache@v4
        with:
          path: |
            example/build/spmKmpPlugin
            example/iosApp/spm
            example/iosApp/build
            example/SPM
          key: ${{ runner.os }}-example-scratch
      - name: Cache Gradle Caches
        uses: gradle/actions/setup-gradle@v4
      - name: Linter
        run: ./gradlew :plugin-build:plugin:ktlintCheck :plugin-build:plugin:detektMain --continue
      - name: Run Gradle tasks
        run: ./gradlew :example:iosSimulatorArm64Test --tests "com.example.Test" :preMerge :plugin-build:plugin:jacocoTestReport --continue --no-configuration-cache --no-build-cache
      #- name: build iosExampleApp
      #  run: set -o pipefail && xcodebuild -project iosApp.xcodeproj -scheme iosApp -configuration Debug -destination 'platform=iOS Simulator,name=iPhone SE (3rd generation)' -derivedDataPath "./build" -clonedSourcePackagesDirPath "./spm" clean test | xcbeautify --renderer github-actions
      #  working-directory: "example/iosApp"
      - name: Archive test results
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: test-pre-merge-report
          path: plugin-build/plugin/build/reports/
      - name: Publish Test Report
        uses: test-summary/action@v2
        if: ${{ !cancelled() }}
        with:
          paths: 'plugin-build/plugin/build/test-results/functionalTest/TEST-*.xml'
          show: "all"
      - name: Print Test Report
        uses: mikepenz/action-junit-report@v5
        if: ${{ !cancelled() }}
        with:
          report_paths: 'plugin-build/plugin/build/test-results/functionalTest/TEST-*.xml'
          comment: true
          pr_id: ${{ github.event.workflow_run.pull_requests[0].number }}
          include_passed: true
      - name: SonarQubeScan
        uses: SonarSource/sonarqube-scan-action@v6
        with:
          args: >
            -Dsonar.organization=frankois944
            -Dsonar.projectKey=frankois944_spm4Kmp
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
