name: Publish Plugin to Portal

on:
  push:
    tags:
      - '*'

jobs:
  gradle:
    strategy:
      matrix:
        os: [ macos-15 ]
    runs-on: ${{ matrix.os }}
    env:
      GRADLE_PUBLISH_KEY: ${{ secrets.GRADLE_PUBLISH_KEY }}
      GRADLE_PUBLISH_SECRET: ${{ secrets.GRADLE_PUBLISH_SECRET }}
    if: ${{ !contains(github.event.head_commit.message, 'ci skip') }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4 # v4
      - name: Cache Gradle Caches
        uses: gradle/actions/setup-gradle@v4
      - name: Cache Konan
        id: cache-konan
        uses: actions/cache@v4
        with:
          path: ~/.konan
          key: ${{ runner.os }}-konan
      - name: Publish on Plugin Portal
        run: ./gradlew :plugin-build:plugin:setupPluginUploadFromEnvironment :plugin-build:plugin:publishPlugins
        if: success()
